@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

page {
  display: flex;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.editor-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid rgba(0,0,0,0.5);
  overflow: hidden;
  margin: auto;
  margin-top: 5rem;
  background-color: rgba(0,0,0,0.5);
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.resizable-box {
  position: absolute;
}

.overlay-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.controls {
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls label {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-button, .download-button {
  margin-top: 1rem;
  padding: 0.1rem 0.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}